.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: center;
    background-color: lightgray;
}

label {
    margin-top: 1rem;
}


