.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
<<<<<<< HEAD
    background-color: lightgray;    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    }
    
=======
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: center;
    background-color: lightgray;
}

>>>>>>> d8ce70ce96c1f6afbbf4949b510f4bfcf4fc6762
label {
    margin-top: 1rem;
}

button {
    margin: 1rem;
<<<<<<< HEAD
}


 
=======
    width: 100px;
}
>>>>>>> d8ce70ce96c1f6afbbf4949b510f4bfcf4fc6762
