.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom right, #627187, #303742);
    /* padding: 1rem;   */
    box-shadow: 0px 10px 10px black;
}

li {
    list-style: none;
}

.response-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.questionText {
    font-size: 1.5rem;
}

.next-button {
    float: right;
}

.questionList {
    all: unset;
    
}