.contact-parent {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.contact-info {
    margin: 3%;
    background: linear-gradient(to bottom right, #627187, #303742);
    opacity: 0.8;
    border-radius: 25px 25px 25px 25px;
    padding: 1rem;
    margin-right: 2rem; 
    margin-left: 2rem;   
    box-shadow: 0px 10px 10px black; 
}

.social{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

img {
    width: 100%;
    height: auto;
}