header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-logo {
  width: 10vw;
  height: 10vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-title {
  margin-left: 1.5rem;
}

.header-tagline {
  all: unset;
  color: white;
  font-family: Raleway-Thin;
  margin-left: 1.5rem;
  padding-left: 0.3rem;
  font-size: 1rem;
  margin-top: 0;
}
