header {
/* background-color: lightgray;     */
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-left: 2rem;
margin-right: 2rem;
}

.title {
    display: flex;
    align-content: flex-end;
    flex-grow: 2; 
    flex-direction: row; 
    justify-content: center;
}


.header-image {
    width: 10vw;
    height: 10vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.hamburger-button {
    width: 8vw;
    height: 8vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}