.title-div {
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  
}

.instructions-container {
    display: flex;
    flex-direction: column;
    /* align-content: center;  */
    /* background-color: #465161; */
    background: linear-gradient(to bottom right, #627187, #303742);
    opacity: 0.8; 
    border-radius: 25px 25px 25px 25px;
    padding: 1rem;
    margin-right: 2rem; 
    margin-left: 2rem;   
    box-shadow: 0px 10px 10px black;
}

h2 {
    align-self: center;
    color: #C6C6B8;
}


.play-button {
    width: 200px;
    align-self: center;
    padding: 5px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color:  #ED4071;
    border-radius: 10px;
    border:none;
    box-shadow: 0px 5px 10px black;
  }
  
  .play-button:hover {background-color: #A12B4D}
  
  .play-button:active {
    background-color: #731F37;  
    transform: translateY(4px);
  }