.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 1rem;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom right, #627187, #303742);
    /* padding: 1rem;   */
    box-shadow: 0px 10px 10px black;
}